 *{
    margin: 0;
    padding: 0;
}
body {

    background-color:rgb(70, 134, 113);
}
.container {
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    overflow: hidden;

}

header {
    padding: 100px;
    width: 100%;
    height: 15vh;
    background-color: #3E92CC;
}

button {
    position: relative;
    top: -20px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 50%;
    background-color:#3E92CC ;
    border: solid 1px orangered;
}
/* button:hover{
    background-color: orangered;
} */

.facebook {

    color:white;
}
.facebook:hover{

    color:rgb(54, 50, 50);

}
.instagram {
    color:rgb(237, 7, 45);
}
h1 {
    position: relative;
    color:#fff;
    top:-10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.g:hover{

    color:white;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.portfolio {
    margin-top: 40px;
    border-radius: 20px;
    color: white;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 120px;
}
.portfolio:hover{

    background-color: orangered;
}

.images{
    position: relative;
    left:600px;
    top:-170px;
    display: inline;
    background-color: #3E92CC;
    width: 100px;
    height: 100px;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.main {
    padding: 100px;
    width: 100%;
    height: 75vh;
    background-color: #2A628F;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    margin:  0 100px;
    width: 60%;
    height: 100%;


}

 .etudes, .experiences , .atouts, .loisirs, .langages, .databases{
    padding: 10px;
   margin-left: 6px; 
   width: 130px;
   height: 130px;
   background-color: #3E92CC;
   border-radius:1px;
   transition: 1s;

}  
 .databases:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
}
.etudes:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
} 
.experiences:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
}
.atouts:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
}

.loisirs:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
}

.langages:hover{
    transition: 2s;
    transform: scale(1.5,1.5);
    box-shadow: 1px 1px 2px aqua, 0 0 25px aqua, 0 0 5px aqua;
}

.loisirs, .langages, .databases {

    margin-top:-215px
    
}
.m {

    color:orangered;
}
h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
    color: #fff;
}
.inf {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10px;
}
.infr {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    position: relative;
    text-align: center;
    top:-30px;
    left:-110px;
}

hr {
    position: relative;
    top:-20px;
    left:-120px;
    margin:0 auto;
    width: 30px;
    border: solid 1px orangered;
}
.lasth {
    position: relative;
    top:-60px;
    text-align: center;
    left: -123px;
    font-size: 20px;
}
/*responsive*/

@media screen and (max-width:376px){

    h1 {

        font-size: 15px;
        position: relative;
        left:-90px;
    }

    .portfolio {

        font-size: 10px;
        position: relative;
        left:-90px;
        padding: 4px;
        width: 80px;


    }
    .facebook, .instagram, .tiktok, .github{
        position: relative;
        left: -90px;
        padding: 5px;

    }

    .experiences, .atouts, .loisirs, .etudes, .langages, .databases {
        display: block;
        position: relative;
        left: -120px;
        width: 70px;
        height: 70px;
        margin-top:3px;
        
    }

    .main {

        overflow: auto;
    }

    h4 {

        font-size: 10px;
    }



    p {
        font-size: 10px;
        position: relative;
        left:-90px;
    }
    img {
        position: relative;
        left:-50px;
    }

    

    /* .loisirs, .langages, .databases {

        margin-top:-215px
        
    } */


    
}







